@import 'bourbon';
@import 'bootstrap';
@import 'neat';
@import 'normalize';
@import 'fonts';
@import 'casa';
@charset 'utf-8';

body {
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif;
  text-align: center;
}

