%header.navigation
  .menu-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png"}
    %p#js-mobile-menu.navigation-menu-button MENU
    .nav
      %ul#navigation-menu
        %li
          %a{:href => "javascript:void(0)"} Products
        %li
          %a{:href => "javascript:void(0)"} About Us
        %li
          %a{:href => "javascript:void(0)"} Contact
        %li.navigation-search-bar
          .search-bar
            .search-and-submit
              %input{:placeholder => "Enter Search", :type => "search"}/
              %button{:type => "submit"}
                %img{:alt => "", :src => "https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png"}
        %li.sign-up
          %a{:href => "javascript:void(0)"} Sign Up
:javascript
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });
  });
