.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "", :src => "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png"}/
    .hero-copy
      %h1 Corporate Ipsum Charities
      %p Synergy
    %button Learn More
